<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="widget-ft widget-about">
                    <div id="logo-ft">
                        <a href="#" title="">
                            <img src="images/logo-ft.png" alt="">
                        </a>
                    </div>
                    <p>The industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <!-- <ul class="social">
                        <li>
                            <a href="#" title="">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>    -->
                </div><!-- /.widget-text -->
            </div><!-- /.col-md-3 col-sm-6 -->
            <div class="col-lg-3 col-md-6">
                <div class="widget-ft widget-services" style="font-size: 16px">
                    <h3 class="title">Raccourcis</h3>
                    <ul class="one-half first">
                        <li><a href="#" title="">Accueil</a></li>
                        <li><a href="#" title="">À propos de nous</a></li>
                        <li><a href="#" title="">Services</a></li>
                    </ul><!-- /.one-half -->
                    <ul class="one-half">
                        <li><a href="#" title="">Contact us</a></li>
                        <li><a href="#" title="">Témoignages</a></li>
                    </ul><!-- /.one-half -->
                    <div class="clearfix"></div>
                </div><!-- /.widget-services -->
            </div><!-- /.col-md-3 col-sm-6 -->
            <!-- <div class="col-lg-3 col-md-6">
                <div class="widget-ft widget-lastest">
                    <h3 class="title">Latest Twitter</h3>
                    <ul>
                        <li>
                            <a href="#" title=""><i class="fa fa-twitter"></i>@Themesflat</a> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </li>
                        <li>
                            <a href="#" title=""><i class="fa fa-twitter"></i>@Samon.D</a> Lorem Ipsum is simply dummy text of the printing and typesetting.Lorem Ipsum is simply dummy.
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- <div class="col-lg-3 col-md-6">
                <div class="widget-ft widget-subscribe">
                    <h3 class="title">Subscribe</h3>
                    <form id="subscribe-form" action="#" method="post" accept-charset="utf-8" data-mailchimp="true">
                        <div id="subscribe-content">
                            <div class="input-email">
                                <input type="email" name="email-form" id="subscribe-email" placeholder="Your email address..." />
                            </div>
                            <button type="button" id="subscribe-button" class="button-subscribe">SUBMIT NOW</button>
                        </div>
                        <div id="subscribe-msg"></div>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
</footer>

<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>© Copyright <a href="#" title="">Kiwano 2020</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.footer-bottom -->

<div class="button-go-top">
    <a href="#" title="" class="go-top">
         <i class="fa fa-chevron-up"></i>
    </a>
</div>