.testmony-body {
	font-family: "Open Sans", sans-serif;
}

/* Flat Testimony
-------------------------------------------------------------- */
.flat-testimony {
    padding: 90px 0 100px;
}

.flat-testimony-form {
    padding: 0 116px;
    margin-top: 52px;
}

.flat-testimony-form .field-row {
    margin : 0 -10px;
}

.flat-testimony-form .field-row .one-three {
    padding:0 10px;
}

.flat-testimony-form .field-row input,
.flat-testimony-form .input-text textarea {
    background-color: #f7f7f7;
    border-radius: 1px;
    height: 50px;
}

.flat-testimony-form .input-text textarea {
    height: 150px;
}

.flat-testimony-form .btn-submit {
    text-align: center;
    color: #fff;
}

.flat-testimony-form .btn-submit button:hover {
    background-color: #252525;
    border-color: #252525;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 75px;
	margin: 0 auto;
	padding: 5px;
	border: 0px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7b15b4;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}